.card{
    height:200px;
    background-color: white;
    border-radius: 0;
    margin: 20px;
    overflow:hidden;
}
img{
    transition: 1s;
    height: 210px;
    width:auto;
}
.description{
    height:200px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
}
.description:hover{
    visibility: visible;
}

.card img:hover{
    filter: blur(2px);
    opacity: 70%;
    transform: translateY(-10px);
}
