<h1 class="Maintitle">Contribute to the project.-</h1>


<form name="contactform" method="post" action="./send_form_email.php"> 
      <div class="container">
          <div class="row">
            <label class="col-12" for="first_name">Your Name </label>
  
            <input class="col-12"  type="text" name="first_name" maxlength="50" size="30">
            <label class="col-12" for="email">Your Email Address </label>
            <input class="col-12"  type="text" name="email" maxlength="80" size="30">
      
          
            <label class="col-12" for="comments"> Tell me about your favorite spots! </label>
       
            <textarea class="col-12"  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
       
            <div class="col-12 d-flex justify-content-center"> <input class="submit" type="submit" value="Submit">  </div>
             
          </div>
      </div>

    
</form>