
<div class="container-fluid">
    <div class="first row d-flex justify-content-center">
        <div class="titleBox">
            <span class="Maintitle">My favorite </span><span class="Spottitle"> spots</span>
            <div class="circle"></div>
        </div>
    </div>
    <div class="row text d-none d-lg-block">
        <div class="col-12">
            <div class="second">
                <p class="list">
                    - Restaurant
                </p>
                <div class="Secondcircle"></div>

            </div>
        </div>
    </div>
    <div class="row text d-none d-lg-block">
        <div class="col-6">
            <p class="list">
                - Get inspired!
            </p>
            <p class="list">
                - Add to the project
            </p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-12 d-flex justify-content-center justify-content-lg-end ">
            <div class="contact">
                <h2>Let's be friends!</h2>

                <div class="links">
                    <div class="circles fir">
                        <a target="_blank" href="http://www.github.com/leabuende"><i class="fab fa-github-alt"></i> </a>                   
                    </div>
                    <div class="circles sec">
                        <a target="_blank" href="https://twitter.com/leaaucaramel"> <i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="circles third">
                        <a target="_blank" href="https://www.linkedin.com/in/l%C3%A9a-anne-buende-tchiendjou-65b440174/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>