<h1 class="Maintitle">My favorite restaurants.-</h1>
<div class="container-fluid">
    <div class="row " >
        
            <div class="col-12 col-lg-6 col-xl-4 d-flex justify-content-center" *ngFor="let item of cards; let index = index">
                <div class="card container">
                    <div class="row">
                        <div class="col-4">
                            <div class="picture "></div>
                        </div>
                        <div class="description col-8">
                            <h2>{{cards[index].title}}</h2>
                            <h3 class="location">{{cards[index].location}}</h3>
                            <p class="caption">{{cards[index].description}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
       
    </div>
</div>